{% extends 'base.html' %}

{% load humanize %}

{% block content %}


{% if ticker %}
	{{ticker}}
{% endif %}

{% if api %}
	{% if api == "Error..." %}
		There was a problem with your ticker symbol. Please try again...
	{% else %}

		<h1>{{ api.companyName }}</h1><br/>
		Price: ${{ api.latestPrice | intcomma }}<br/>
		Previous Close: ${{ api.previousClose | intcomma }}<br/>
		Market Cap: ${{	api.marketCap | intcomma }}<br/>
		YTD Change: {{ api.ytdChange }}%<br/>
		52Wk High: {{ api.week52High | intcomma }}<br/>
		52Wk Low: {{ api.week52Low | intcomma }}<br/>



	{% endif %}
{% endif %}


{% endblock %}